<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Memorama
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">



    <ion-toolbar>
        <ion-title>
            <h1>Bienvenido a memorama</h1>
        </ion-title>

    </ion-toolbar>

    <ion-toolbar>
        <ion-title>Realiado por:</ion-title>
        <ul>
            <li>
                <ion-label>Adrian Lima</ion-label>
            </li>
            <li>
                <ion-label>Andres Cevallos</ion-label>
            </li>
            <li>
                <ion-label>Jorge Hildago</ion-label>
            </li>
            <li>
                <ion-label>Mateo navas</ion-label>
            </li>
        </ul>
    </ion-toolbar>

    <ion-toolbar>
        <ion-label>
            Intente averiguar todas las imagenes en el menor tiempo posible

        </ion-label>
    </ion-toolbar>


    <ion-fab vertical="center" horizontal="center" slot="fixed">
        <ion-fab-button color="tertiary" (click)="empezarJuego()">
            Start
        </ion-fab-button>
    </ion-fab>


</ion-content>